@use "../../../../global.scss";
.container {
  display: flex;
  flex-direction: column;
  gap: global.$large-margin;
  color: #fff;
  h1 {
    @include global.h1;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: global.$large-margin;
    .field {
      display: flex;
      flex-direction: column;
      gap: global.$small-margin;
      label {
        color: #fff;
      }
      input,
      textarea {
        background-color: #444444;
        border: 1px solid #979797;
        padding: global.$small-margin global.$medium-margin;
        color: #fff;
        border-radius: 3px;
      }
    }
    .submitButton {
      @include global.button;
      align-self: flex-end;
    }
  }
}
